<?xml version='1.0' encoding='utf-8'?>
<widget id="com.keemob" version="0.0.3" android-versionCode="102" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Keemob</name>
    <description>
        Cordova wrapper for KeeWeb application
    </description>
    <author href="https://github.com/alex-shpak">
        Alex Shpak
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="res/icon.png" />
        <splash src="res/pixel.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="BackgroundColor" value="0xff282C34" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="android-targetSdkVersion" value="27"/>

</widget>
